@model HMS.Models.ViewModel.AppointmentViewModel

    <form method="get">
        <br /><br />
        <h2 class="text-info">Листа на термини</h2>
        <br />

        <div style="height:150px; background-color:aliceblue" class="container">
            @* We will add search criteria *@
            <div class="col-12">
                <div class="row" style="padding-top:10px;">
                    <div class="col-2">
                        Име на пациент
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        Емаил
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-2">
                        Телефон
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        Датум на термин
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                    </div>

                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                        <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                            <i class="fas fa-search"></i> Барај
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <br />

        <div class="row mx-md-n5">
            <div class="col px-md-5">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button asp-area="Admin" asp-controller="Appointments" asp-action="AppointmentPDF" type="submit" class="btn btn-outline-primary">PDF <i class="fas fa-file-pdf"></i></button>
                    <button asp-area="Admin" asp-controller="Appointments" asp-action="AppointmentCSV" type="submit" class="btn btn-outline-primary">CSV <i class="fas fa-file"></i></button>
                    <button asp-area="Admin" asp-controller="Appointments" asp-action="AppointmentExcel" type="submit" class="btn btn-outline-primary">Excel <i class="fas fa-file-excel"></i></button>
                    <button asp-area="Admin" asp-controller="Appointments" asp-action="AppointmentWord" type="submit" class="btn btn-outline-primary">Word <i class="fas fa-file-word"></i></button>
                </div>
            </div>
                <div class="col px-md-5"></div>
            </div>
       
        <br />

        <div>
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().DoctorUser.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().AppointmentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().PatientName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().PatientPhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().PatientEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Appointments.FirstOrDefault().isConfirmed)
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Appointments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.DoctorUser.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.AppointmentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PatientName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PatientPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PatientEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.isConfirmed)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>

                }
            </table>
        </div>

        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn border" page-class-normal="btn btn-primary active"
             page-class-selected="btn btn-primary active" class="btn-group m-1"></div>


    </form>

@section Scripts{
    <script>
      
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });
    </script>
}